a {
    text-decoration: none;
}

.section-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.song-list {
    color: white;
    background-color: #272343;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

i {
    cursor: pointer;
}

.icon-fill {
    color: #FFD803;
}

.icon-lightblue {
    color: #BAE8E8;
}