body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.container {
    padding: 10px;
}

p {
    margin: 0;
}

header {
    color: black;
    padding-bottom: 2rem;
    font-size: 24px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    font-weight: 700;
}

button {
    opacity: 0.8;
}

button:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -3px 0px 9px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -3px 0px 9px 5px rgba(0,0,0,0);
    outline: none;
}

.section-layout {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr .5fr .5fr;
    gap: 5px;
    align-items: center;
}

.action-button span {
    font-size: 20px;
    color: red;
}

.action-button,
.votes {
    display: grid;
    gap: 10px;
}

@media (min-width: 650px) {
    .votes, .action-button {
        display: flex;
        gap: 10px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

header p {
    padding: 0;
    max-width: 25%;
}

article.songs {
    display: grid;
    gap: 20px;
}

.song-list {
    color: white;
    background-color: #272343;
    padding: 1rem;
    border-radius: 5px;

    /* Jump to next line everytime, there is a new line</p></div><br></br><div><p> */
    white-space: pre-line;
}

i {
    cursor: pointer;
}

.icon-fill {
    color: #FFD803;
}

.icon-lightblue {
    font-size: 20px;
    color: #BAE8E8;
}

.total-price {
    text-align: right;
    font-size: 28px;
}
.total {
    color: #BAE8E8;
}

.artist {
    font-size: 18px;
}
.price {
    font-size: 20px;
    color: #FFD803;
}

.buybtn {
    background-color: #FFD803;
    padding: 10px 20px;
    border: none;
}


@media(min-width: 650px) {
    .container {
        max-width: 750px;
        margin: auto;
    }
}

.add-form {
    background-color: rgb(13, 83, 214);
    padding: 1rem;
    display: grid;
    gap: 16px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 4px 5px rgba(0,0,0,0.57); 
    box-shadow: 3px 3px 4px 5px rgba(0,0,0,0.57);
}

input {
    max-width: 97%;
}

input,
textarea,
select {
    border: none;
}

.add-field {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    height: 3rem;
    padding: 0 10px;
}

input,
button,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

.addBtn {
    background-color: #ff01ff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

.genre {
    font-weight: 600;
    color: rgb(5, 5, 158);
    font-size: 2rem;
}

.genre span {
    padding-left: 10px;
}

.lyrics {
    max-width: 50%;
    line-height: 1.5;
}